<head>
    <style>
        *{
            box-sizing: border-box;
        }
        #root{
            display: flex;
            flex-direction: column;
        }
        .frame{
            height: 300px;
            width: 500px;
            border: solid black 3px;
            display: flex;
            flex-direction: column;
            font-size:x-large
        }
        .phrase{
            align-self: center;
            font-size: larger;
        }
        .image{
            width: 200px;
            align-self: center;
        }
        .input{
            font-size: 20px;
            width: 500px;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
  <div id="root"></div>

  <script src="https://unpkg.com/react@16.12.0/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16.12.0/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/@babel/standalone@7.8.3/babel.js"></script>
  <script src="https://unpkg.com/prop-types@15.7.2/prop-types.js"></script>

  <script type="text/babel">
    const rootElement = document.getElementById('root');

    const state={
            to: '',
            msg: ''
    }
    function PostCard(props)  {  
        const toEvent=(event)=>{
            setState({to: event.target.value})
        }
        const msgEvent=(event)=>{
            setState({msg: event.target.value})
        }
        const style={ 
            background: props.backgroundColor,
            fontStyle: props.fontStyle
        }
        function al(){ //por que 
            alert(`Enviando a ${state.to}`);
        }
           return <>
           
            <input onChange={toEvent} className="input" type="text" placeholder="To:"/>
            <textarea onChange={msgEvent} className="input"  placeholder="Message:"/>
            <button onClick={al} className="input" title="Clic me!!" style={{color: "white", background: 'gray'}}>
                    Enviar
            </button>
                <div className='frame' style={ {...style} }>
                    <div>From: Kevin</div>
                    <div>To: {state.to}</div>
                    <div className="phrase">
                        {state.msg}
                    </div>
                    <img src={props.image} alt="image"className="image"/>
                </div>
           </>   
    }
    function setState(newState){
            Object.assign(state, newState);
            { console.log(state.to)}
            render();
            
        }
    PostCard.propTypes={
        to: PropTypes.string, 
        children: PropTypes.string,
        image: PropTypes.string,
        backgroundColor: PropTypes.string,
        fontStyle: PropTypes.string
    }
    //por que esto no funciona si agrego al virtual dom eJSX?
    // const eJSX =( 
    //         <>
    //             <PostCard  image="navidad.jpg" backgroundColor="pink" fontStyle="italic">
    //                 Feliz navidad a ti y tu familia
    //             </PostCard>
    //         </> )   
            
    
    function render(){ReactDOM.render(  
        <PostCard  image="navidad.jpg" backgroundColor="pink" fontStyle="italic"/>, rootElement)
    }
    render();
  </script>
</body>